:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --seconadry-accent-color: rgba(24, 140, 232, 1);
  --secondary-bg-color: #2f303a;
  --team-title-bg: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* General styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  /* outline: 2px solid red; */
}

.button {
  font-family: inherit;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;
  border-color: transparent;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav {
  display: flex;
  align-items: center;
}

/* Logo  */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.logo__primary {
  padding-top: 24px;
  padding-bottom: 25px;

  font-size: 26px;
  line-height: 1.19;
}

.logo__style {
  color: var(--accent-color);
}

/* Site navigation */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* Contacts navigation */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav__item:not(:last-child)
{
  margin-right: 50px;
}

.contacts-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 200px;
  padding-bottom: 280px;
  color: var(--primary-white-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  border-radius: 4px;
  border: 1px solid transparent;
  height: 40px;
  min-width: 160px;
}

.button.primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 6px 25px;
}

.button.primary:hover {
  color: var(--primary-white-color);
  background-color: var(--seconadry-accent-color);
}
.button.secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: #f5f4fa;

  padding: 6px 25px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* features */

.features {
  outline: 1px solid red;
  margin-top: 94px;
  margin-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Uppercase titles */

.uptitle {
  font-size: inherit;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.uptitle.features-title {
  color: var(--secondary-text-color);
}

.features-text {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.work {
  outline: 1px solid red;
}

/* General section title*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Team section */

.team {
  font-size: 16px;
  line-height: 1.19;

  background-color: var(--team-title-bg);
  outline: 1px solid red;
}

.team-members__item {
  background: var(--primary-white-color);
}

.team .team-members-name {
  font-size: inherit;
  font-weight: 500;

  color: var(--secondary-text-color);
}

.team .team-members-position {
  color: var(--primary-text-color);
}
/*Foter*/

.page-footer {
  background-color: var(--secondary-bg-color);
}

/* address */
.address .link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: var(--footer-text-color);
}

.address .address-location {
  color: var(--primary-white-color);
}

.link.address-location:hover,
.link.address-location:focus {
  color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Portfolio  */

.portfolio-sample {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
